<%= render partial: '/admin/admin-nav' %>
<h2 class="subtitle">Admin Invoices</h2>
<ul class="invoice_links">
  <% @invoices.each do |invoice| %>
    <li class="index_invoice" id="inv-<%= invoice.id %>">
      Invoice #<%=link_to"#{invoice.id}", admin_invoice_path(invoice.id) %> - Created: <%= invoice.created_at.strftime("%A, %B %d, %Y") %>
    </li>
  <% end %>
</ul>
