<div id="welcome_nav">
<ul id="welcome_nav_buttons">
  <%= link_to merchants_path do %>
    <li class="welcome_nav_button">Merchant Index</li>
  <% end %>
  <%= link_to admin_dashboard_path do %>
    <li class="welcome_nav_button">Admin Dashboard</li>
  <% end %>
</div>